#{{ ansible_managed }}
{%  if item.data is mapping %}
{%    for key, value in item.data|dictsort %}
{%      set tabs = [] %}
{%      for i in tabs %}{{i}}{% endfor %}{{ key }} {
{%      include 'nested_structure.j2' %}
{%      for i in tabs %}{{i}}{% endfor %}}
{%    endfor %}
{%  endif %}
