{%  if value|d() %}
{%    set tabs = tabs + ['    '] %}
{%    for key, value in value.iteritems() %}
{%      if key == 'raw' %}
{% for i in tabs %}{{i}}{% endfor %}{{ value }}
{%      elif value is string %}
{% for i in tabs %}{{i}}{% endfor %}{{ key }} = "{{ value }}";
{%      elif value == True %}
{% for i in tabs %}{{i}}{% endfor %}{{ key }} = {{ value }};
{%      elif value == False %}
{% for i in tabs %}{{i}}{% endfor %}{{ key }} = {{ value }};
{%      else %}

{%        for i in tabs %}{{i}}{% endfor %}{{ key }} {
{%        include 'nested_structure.j2' %}
{%        for i in tabs %}{{i}}{% endfor %}}

{%      endif %}
{%    endfor %}
{%  endif %}

