{%  if value is mapping %}
{%    set tabs = tabs + ['    '] %}
{%    for key, value in value|dictsort %}
{%      if key == 'raw' %}
{%        for listes in value %}
{%          for i in tabs %}{{i}}{% endfor %}{{ listes }}
{%        endfor %}
{%      elif value is number %}
{%        for i in tabs %}{{i}}{% endfor %}{{ key }} = {{ value }};
{%      elif value is string %}
{%        for i in tabs %}{{i}}{% endfor %}{{ key }} = "{{ value }}";
{%      elif value is iterable %}
{%        if value is mapping %}

{%          for i in tabs %}{{i}}{% endfor %}{{ key }} {
{%          include 'nested_structure.j2' %}
{%          for i in tabs %}{{i}}{% endfor %}}
{%        else %}
{%          for listes in value %}
{%            if listes is mapping %}
{%              set value = listes %}
{%              for i in tabs %}{{i}}{% endfor %}{{ key }} {
{%              include 'nested_structure.j2' %}
{%              for i in tabs %}{{i}}{% endfor %}}
{%            else %}
{%              for i in tabs %}{{i}}{% endfor %}{{ key }} = "{{ listes }}"1;
{%            endif %}
{%          endfor %}
{%        endif %}
{%      else %}
{%        for i in tabs %}{{i}}{% endfor %}{{ key }} = {{ value }};
{%      endif %}
{%    endfor %}
{%  endif %}

